h1,h2,h3,h4{
  color:red;
}
body{            
   background="https://pic.feizl.com/upload2007/allimg/180903/132233FY-3.jpg"
  width:960px;
  margin-left:auto;
  margin-right:auto;
  border-width:1px;
  border-style:solid;
  border-color:gray;
  border-radius:7px;
   }
   p{
    color:green;
    }
 img{
     float:left;
}
