h1,h2,h3,h4{
  color:red;
}
body{            
   background="http://bpic.588ku.com//back_origin_min_pic/19/04/12/4c8474582834354283d9e41686bf20b6.jpg!/fw/750/quality/99/unsharp/true/compress/true"；
  width:960px;
  margin-left:auto;
  margin-right:auto;
  border-width:2px;
  border-style:solid;
  border-color:gray;
  border-radius:5px;
  padding-left:20px;
  padding-right:20px;
   }
   b{
     color:purple;
    }

   p{
    color:green;
    }
 img{
     float:left;
}
marquee{
  color:pink;
}
